/* @import url("https://fonts.googleapis.com/css?family=Questrial"); */
/* @import url("https://fonts.googleapis.com/css?family=Cabin"); */
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Questrial", sans-serif; */
  /* font-family: "Cabin", sans-serif; */
  font-family: "Archivo Narrow", sans-serif;
}

@media only screen and (min-device-width: 100px) {
  body {
    background: #f5f5f5;
  }

  #header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  nav {
    flex: 0 0 auto;
  }

  #banner {
    flex: 1 0 auto;
  }

  nav ul {
    list-style-type: none;
  }

  nav ul li a {
    display: block;
    color: #000;
    background: transparent;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    transition: color 2s ease, background 2s ease, padding 2s ease;
    border-radius: 10px;
  }

  nav ul li a:hover {
    color: #000;
    padding-left: 60px;
    background: #fdc3ab;
    border-radius: 10px;
  }

  #nav-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
  }

  #nav-top h3 {
    font-size: 30px;
    padding: 5px;
    color: #000;
    background: #fee143;
    border: 3px solid;
    transition: color 2s ease, background 2s ease;
  }

  #nav-top h3:hover {
    background: #fdc3ab;
    color: #000;
  }

  #menu-btn {
    padding: 5px;
    border: 2px solid #fdc3ab;
    cursor: pointer;
    align-self: center;
  }

  .bar1,
  .bar2,
  .bar3 {
    height: 5px;
    width: 35px;
    background-color: #fdc3ab;
    margin: 5px 0;
    transition: transform 1s ease;
  }

  .turn .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }

  .turn .bar2 {
    opacity: 0;
  }

  .turn .bar3 {
    transform: rotate(45deg) translate(-7px, -8px);
  }
}

@media screen and (min-width: 690px) {
  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  #menu-btn {
    display: none;
  }
  nav ul {
    flex: 1 1 auto;
    display: flex !important;
    /* important */
    flex-wrap: wrap;
  }

  nav ul li {
    flex: 1 0 125px;
  }
  nav ul .icon {
    flex: 0 0 20px;
  }
  nav ul li .link-icon {
    color: #000;
    background: #fdc3ab;
    border-radius: 10px;
    border-radius: 10px;
  }
  nav ul li .link-icon:hover {
    background: #fdc3ab;
  }
  nav ul a {
    text-align: center;
  }
  nav ul a:hover {
    padding: 10px !important;
  }
  #nav-top {
    padding: 10px;
  }
}

/* title */
.title {
  margin: 10px 0 40px 0;
  cursor: pointer;
}

.title-text {
  font-size: 60px;
  text-transform: capitalize;
  color: #000;
}
.title-underline {
  width: 50px;
  border: 3px solid #fdc3ab;
  transition: width 4s ease, border 4s ease;
}

.title:hover .title-underline {
  width: 200px;
  border: 3px solid #fdc3ab;
}
/* ###Benefits Section */
#benefits {
  padding: 40px;
}

.benefit {
  text-align: center;
  margin: 15px 0px;
  border: 3px solid #fdc3ab;
  border-radius: 20px;
}

.benefit #fa {
  color: #000;
  padding: 20px;
  border-radius: 10px;
  font-size: 60px;
  transition: transform 0.5s ease-in, background 0.5s ease, color 0.5s ease;
}

.benefit #fa:hover {
  transform: scale(0.7);
  background: #fee143;
  color: #000;
}

.benefit h3 {
  margin: 10px 0 15px 0;
  text-transform: capitalize;
  font-size: 30px;
  color: #000;
}

.benefit p {
  line-height: 1.5em;
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}

@media screen and (min-width: 576px) {
  .benefits-center {
    min-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }
}
@media screen and (min-width: 992px) {
  .benefits-center {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ###About## */
#about {
  padding: 40px;
  background: linear-gradient(-45deg, #fdc3ab, #fee143);
}

#about-text,
#about-video {
  padding: 40px;
}

#about-text h1 {
  color: #000;
  font-size: 60px;
  text-align: center;
}

#about-text p {
  margin: 40px 0;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 20px;
  border: 1px solid #fdc3ab;
}

#about-text a {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  text-transform: uppercase;
  color: #000;
  border: 3px solid #f5f5f5;
  border-radius: 10px;
  background: #fee143;
  transition: background 3s ease, border 0.5s ease;
}

#about-text a:hover {
  background: #fdc3ab;
  border: 3px solid #f5f5f5;
}

.about-button {
  width: 200px;
  margin: 10px auto;
}

@media screen and (min-width: 992px) {
  #about {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  #about-text,
  #about-video {
    min-height: 40vh;
  }
}

/* ###Services### */
#services {
  padding: 40px;
}

.service {
  margin: 30px 0;
  display: flex;
  padding: 20px;
  border: 3px solid #fdc3ab;
  border-radius: 20px;
}

.service-icon #fa {
  font-size: 60px;
  margin-right: 20px;
}

.service-subtitle {
  text-transform: capitalize;
  color: #000;
  font-size: 20px;
}

.service-info {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 15px;
}

.service:hover #fa {
  color: #fee143;
}

@media screen and (min-width: 576px) {
  .services-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* footer */

footer {
  background: linear-gradient(-45deg, #fdc3ab, #fee143);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 10px;
  background: #f5f5f5;
  padding: 10px 5px 10px;
  border-radius: 10px;
}

.footer-icons {
  font-size: 30px;
  padding: 10px 30px 10px;
}

.footer-icons #fa {
  margin-right: 10px;
  color: #000;
  padding: 20px;
}

.footer-icons #fa:hover {
  background: #fee143;
  padding: 10px;
  border-radius: 10px;
}
